{
  "aws_region": "eu-central-1",
  "honeybot_image": "ghcr.io/stefandeveloper/heillmpot-honeybot:latest",
  "deploy_orchestrator": true,
  "orchestrator_instance_type": "t3.small",
  "honeybot_amount": 3,
  "honeybot_instance_type": "t3.small"
}
